@model List<Embryo.Web.Models.Post>
@{
    ViewData["Title"] = "Posts";
}

<div class="row">
    <div class="col-md-12">

        <div class="well">
            <h2>All Posts</h2>

            <a asp-action="Create">Create</a>
            <hr />

            <div class="list-group">
            @foreach (var post in Model)
            {
                <a asp-action="Details" asp-route-id="@post.Id" class="list-group-item">
                    @post.Title
                    @if (post.IsPublished)
                    {
                        <span class="badge">published</span>
                    }
                </a>
            }
            </div>
        </div>

    </div>
</div>
